*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;

    body {
        font-family: $font-sans-serif;
        margin: 0;
        opacity: 0;
        padding: 0;
        transition: opacity .25s ease-in-out;

        &.loaded {
            opacity: 1;
        }
    }
}

h1 {
    font-size: 60px;
}

.underline {
    position: relative;

    &::after {
        border-bottom: 3px solid $yellow;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
}

.button {
    border: 1px solid $white;
    color: $white;
    font-family: $font-sans-serif;
    padding: 10px 15px;
    text-decoration: none;
}

@media (max-width: $breakpoint-sm) {
    h1 {
        font-size: 40px;
    }
}
