.content {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    font-family: $font-serif;
    justify-content: space-between;

    &--right {
        justify-content: flex-end;
    }

    .page-title {
        display: flex;
        flex: 1;
    }

    .cta {
        transition: transform .25s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .awards {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 15px;
        text-align: center;

        .award {
            margin: 0 30px;
            padding: 0 20px;
            position: relative;
            transition: transform .25s ease-in-out;
            width: 155px;

            &:hover {
                transform: scale(1.1);
            }

            &::after,
            &::before {
                bottom: 0;
                content: '';
                position: absolute;
                top: 0;
            }

            &::before {
                content: url('../../assets/img/award-left.svg');
                left: 0;
            }

            &::after {
                content: url('../../assets/img/award-right.svg');
                right: 0;
            }
        }
    }
}

@media (max-width: $breakpoint-lg) {
    .content {
        flex-direction: column;

        h1 {
            text-align: center;
        }

        .cta {
            margin-top: 70px;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .content--right {
        justify-content: flex-end;
    }
}

@media (max-width: $breakpoint-sm) {
    .content {

        h1 {
            font-size: 30px;
        }

        .awards {
            flex-direction: column;
            transform: scale(.8);

            .award {
                margin-bottom: 30px;
            }
        }

        .cta {
            margin-top: 15px;
        }
    }
}
