.main-footer {
    background-color: $dark-brown;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    overflow: auto;
    padding: 30px 70px 0;
    position: relative;
    z-index: 10;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            color: $light-gray;
            display: block;
            text-decoration: none;
        }

        section {
            color: $light-gray;
            flex: 1;
            font-family: $font-sans-serif;
            font-size: 16px;
            margin-right: 15px;
            margin-top: 45px;
        }

        .footer {
            &__nav {
                &--primary,
                &--secondary {

                    nav {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-between;
                    }
                }

                &--primary {
                    a {
                        font-family: $font-serif;
                        font-size: 25px;
                    }
                }
            }

            &__more {
                margin-top: 15px;
            }

            &__contact {
                span {
                    font-family: $font-serif;
                    font-size: 25px;
                }

                address {
                    font-style: normal;

                    a {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    &__bottom {
        align-items: center;
        border-top: 1px solid rgba($light-gray, .5);
        display: flex;
        flex-direction: row;
        padding: 20px 0;

        nav {
            display: flex;
            margin-left: 120px;

            a {
                color: $light-gray;
                display: block;
                margin-right: 50px;
                text-decoration: none;
            }
        }

        .social {
            list-style-type: none;
            margin: 0 0 0 auto;
            padding: 0;

            li {
                display: inline-block;
            }

            &__icon {
                height: 20px;
                margin-right: 15px;
                width: auto;
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .content--right {
        justify-content: flex-end;
    }

    .main-footer {
        height: auto;
        line-height: 1.5;

        &__content {
            display: block;
            text-align: center;
        }

        section {
            margin: 30px 0;
        }

        &__bottom {
            flex-direction: column;

            nav {
                flex-direction: column;
                margin-left: 0;
                margin-top: 15px;
                text-align: center;

                a {
                    margin: 0 15px;
                }
            }

            .social {
                margin: 30px 0 0;
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .main-footer {
        padding: 30px 15px 0;
    }
}
