.main-header {
    padding: 30px 35px;
    position: fixed;

    .brand {
        a {
            align-items: center;
            color: $white;
            display: flex;
            text-decoration: none;
        }

        &__name {
            margin-left: 10px;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .brand {
        transform: scale(.8);
        transform-origin: left center;
    }
}
